/* Navbar styles */

.header {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.logo img {
  height: 100px;         
  max-height: 100%;      
  object-fit: contain;   
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #333;
}
